{:database {:url #env XHUB_DATABASE_URL
            :user #env XHUB_DATABASE_USER
            :password #env XHUB_DATABASE_PASSWORD}

 :application {:port #env XHUB_SERVER_PORT}
 :smtp {:host #env XHUB_SMPTP_HOST
        :auth-enable #env XHUB_SMTP_AUTH_ENABLE
        :tls-enable #env XHUB_SMTP_TLS_ENABLE
        :email #env XHUB_SMTP_MAIL
        :password #env XHUB_SMTP_PASSWORD}
 :redis {:host #env XHUB_REDIS_HOST
         :port #env XHUB_REDIS_PORT
         :password #emv XHUB_REDIS_PASSWORD}}
